.formContainer {
    display: flex;
    flex-flow: row wrap
}

.text {
    display: flex;
    justify-content: center
}
.marginTop {
    margin-top: 60px;
}

.centerBtn {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}