.text {
    padding: 5px;
    display: flex;
    justify-content: center;
    background: rgba(47, 53, 66,.1);
    border-radius: 30px;

}
.container{
    margin-top: 5px;
    margin-bottom: 30px;
}


