body {
  height: 100%;
  background-image: url("assets/images/coolBackground.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
::-webkit-scrollbar {
  width: 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-1"] {
    width: 100%;
  }
}